#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tree-item {
  display: flex;
  width: auto;
  justify-content: start;
  align-items: center;
}

.tree-item:hover {
  background-color: #362f2f;
}

.tree-item__icon {
  display: flex;
  width: 20px;
  align-items: center;
}

.tree-container {
  width: 200px;
  height: 200px;
  max-width: 200px;
  border: 1px solid white;
  overflow: auto;
}
